{{#contentFor title}}
  <title>Instagram Feed</title>
{{/contentFor}}

<div class="row">
  <h1>Experiments</h1>
</div>

<div class="row">
  <ul class="list-group">
  {{#each popular}}
    <li class="list-group-item">
      <a href="{{this.link}}" target="_blank" title="View on Instagram"><img src="{{this.images.thumbnail.url}}"/></a>
      <div>{{this.caption.text}}</div>
      <div><a href="#"><span class="badge">{{this.likes.count}} Likes {{this.comments.count}} Comments</span></a></div>
    </li>
  {{/each}}
  </ul>
</div>